.app {
  display: flex;
  min-height: 100vh;
  background: #000000;
}

.main-content {
  flex: 1;
  margin-left: 80px;
  width: calc(100% - 80px);
  background: #000000;
}

main:not(.main-content) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
